@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

/*QUESTION: how to align items so they line up on the left?????*/

/*base*/
html, body {
    height: 100%;
}

/*font styling*/
h1, h2, p {
   font-family: 'Space Grotesk', sans-serif; 
}

/*header styling*/

/*hero img*/
.space {
    opacity: 95%;
    width: 100%;
}
         
/*heading and subheading*/
.logo {
    text-align:center;
    position: absolute;
    font-size: 18px;
    top: 50px;
    color: #FFFFFF;
}
h1, h2 {
    position: relative;
}


/*navbar styling*/
nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    margin: 0;
    padding: 1rem;
    width: 100%;
    list-style-type: none;
    display: flex;
}

nav ul li a {
    padding-right: 2rem; 
    text-decoration: none;
    font-weight: bold;
    font-family: 'Space Grotesk', sans-serif; 
}
/*add hover to desktop nav*/

/*main styling*/
main {
    max-width: 85%;
    margin: auto;
}

/*footer styling*/
footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}