@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

/*mobile*/
@media screen and (max-width: 769px) {

/*base*/
html, body {
    height: 100vh;
}

body {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    background-color: #cceeff;
}

/*font styling*/
h1, h2, p {
   font-family: 'Space Grotesk', sans-serif; 
}

/*header styling*/

/*hero img, used jeff's website and w3schools for help*/

/* The hero image */
.container {
/*    background-color: #637782; */
    background-image: url('../images/pexels-edvin-richardson.jpg'); /*this won't load???? */
/*    background-position: center; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
 /*    position: relative;keep?*/
  }
  
  .title {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

/*

header {
    background-image: url('images/spacelaunch.png');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
  }

*/

/*navbar styling*/
nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    margin: 0;
    padding: 1rem;
    list-style-type: none;
    display: flex;
}

nav ul li {
    padding-right: 2rem; 
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    font-family: 'Space Grotesk', sans-serif; 
    color:#000000;
}

/*link animation adjusted from 30 seconds of code*/

.link-animation {
    display: inline-block;
    position: relative;
  }
  
  .link-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: center;
    transition: transform 0.25s ease-out;
  }
  
  .link-animation:hover::after {
    transform: scaleX(1);
    transform-origin: center;
  }


/*why is this not working?*/

.current {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 2px;
    text-decoration-color:#0087ca;
}

/*main styling*/
main {
    max-width: 90%;
    margin: auto;
    text-align: justify;
}

/*footer styling*/
footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}   
}

/*base*/
html, body {
    height: 100vh;
}

body {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}

/*font styling*/
h1, h2, p {
   font-family: 'Space Grotesk', sans-serif; 
}

/*header styling*/

/*hero img, used jeff's website and w3schools for help*/

/* The hero image */
.container {
    background-color: #637782; 
    background-image: url('../images/pexels-edvin-richardson.jpg'); /*this won't load????  I know that the file path is correct*/
    background-repeat: no-repeat;    
    background-position: center; 
    background-attachment: fixed;
    background-size: cover;
 /*    position: relative;   keep?*/
  }
  
  .title {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

/*

header {
    background-image: url('images/spacelaunch.png');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
  }

*/

/*navbar styling*/
nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    margin: 0;
    padding: 1rem;
    list-style-type: none;
    display: flex;
}

nav ul li {
    padding-right: 2rem; 
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    font-family: 'Space Grotesk', sans-serif; 
    color:#000000;
}

/*link animation adjusted from 30 seconds of code*/

.link-animation {
    display: inline-block;
    position: relative;
  }
  
  .link-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: center;
    transition: transform 0.25s ease-out;
  }
  
  .link-animation:hover::after {
    transform: scaleX(1);
    transform-origin: center;
  }


/*why is this not working?*/

.current {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 2px;
    text-decoration-color:#0087ca;
}

/*main styling*/
main {
    max-width: 60%;
    margin: auto;
    text-align: justify;
}

/*footer styling*/
footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}   
  