@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

/*fullscreen*/
/*fix min-height*/
@media (min-height: 680px) {
    html{
        height: 100%;
        width: 100%;
       }
       
       body{
        width: 100%;
        height: 100%;
       }  
/*
       main {
        width: 75%;
       }
*/
  }
  

/*base*/
html, body {
    height: 100vh;
}

/*font styling*/
h1, h2, p {
   font-family: 'Space Grotesk', sans-serif; 
}

/*header styling*/

/*hero img*/
/*
header {
    background-image: url('img/spacelaunch.png');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
  }
*/

/* CREDIT: parts of hero img code from geeksforgeeks*/
/*double-check that it matches jeff's code */    
.space {
    opacity: 95%;
    width: 100%;
}
    
/*heading and subheading*/
.logo {
    text-align:center;
    position: absolute;
    top: 20rem;
    left: 30rem;
    color: #FFFFFF;
}
h1, h2 {
    position: relative;
}
.logo h2 {
    font-size: 0.9rem;
}

/*navbar styling*/
nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    margin: 0;
    padding: 1rem;
    width: 100%;
    list-style-type: none;
    display: flex;
}

nav ul li {
    padding-right: 2rem; 
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    font-family: 'Space Grotesk', sans-serif; 
    color:#000000;
}

/*link animation adjusted from 30 seconds of code*/

.link-animation {
    display: inline-block;
    position: relative;
  }
  
  .link-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: center;
    transition: transform 0.25s ease-out;
  }
  
  .link-animation:hover::after {
    transform: scaleX(1);
    transform-origin: center;
  }


/*why is this not working?*/

.current {
    content: '';
 /*   position: absolute; */
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
}

/*main styling*/
main {
    max-width: 85%;
    margin: auto;
}

/*footer styling*/
footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}